h1 {
    text-align: center;
    font-size: 40pt;
    color: #383B3F;
}
body {
    background-color: #7FC0FF;
}
.helps {
    text-align: center;
    background-color: #6B7F92;
    color: #FBFBFB;
}
.strugle {
    text-align: center;
    background-color: #383B3F;
    color: #FBFBFB;
}